In [28]:
from tensorflow.keras.models import load_model
from pickle import load
import pandas as pd

In [29]:
model = load_model('regression.keras')

In [30]:
with open('regression.pkl', 'rb') as fp: pickle_data = load(fp)
geo_encoder = pickle_data['encoder_geo']
scaler = pickle_data['scaler']
column_names = pickle_data['column_ordering']

In [31]:
column_names = column_names.tolist()

In [32]:
input_data = {
    'CreditScore': 600,
    'Geography': 'Spain',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'Exited': 0
}

In [33]:
country_encoded = geo_encoder.transform(pd.DataFrame({'Geography': [input_data['Geography']]}))

In [34]:
geo_df = pd.DataFrame(country_encoded, columns=geo_encoder.get_feature_names_out())
geo_df

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [35]:
input_df = pd.concat([pd.DataFrame([input_data]), geo_df], axis=1)
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,600,Spain,Male,40,3,60000,2,1,1,0,0.0,0.0,1.0

In [36]:
input_df.drop(['Geography', 'Geography_Spain'], axis=1, inplace=True)
input_df.Gender = input_df.Gender.map({'Male': 1, 'Female': 0})
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany
0,600,1,40,3,60000,2,1,1,0,0.0,0.0

In [37]:
input_df = input_df[column_names]
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany
0,600,1,40,3,60000,2,1,1,0,0.0,0.0

In [38]:
input_df = scaler.transform(input_df)
input_df

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.50857963, -0.99850112,
        -0.57946723]])

In [39]:
prediction = model.predict(input_df)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 101ms/step

array([[237.60007]], dtype=float32)

In [42]:
print(f'The estimated salary of the person is: {prediction[0][0]}')

The estimated salary of the person is: 237.60006713867188